$black:#252020;
$grey:#888792;
$lightgrey:#BFC8CD;
$white:#FFFFFF;

.custom-lightgrey-text{
    color: $lightgrey;
}
.custom-black-text{
    color: $black;
}
.custom-grey-text{
    color: $grey;
}
.custom-white-text{
    color: $white;
}

.logo-title{
    font-size: 2.25rem;
    font-weight: 800;
    line-height: 2.723rem;
    letter-spacing: 0.063rem;
}

@media screen and (max-width:640px) {
    .logo-title{
        font-size: 1.25rem;
        line-height: 1.513rem;
    }
}

.h1-heading{
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 4.5rem;
    letter-spacing: 0.063rem;
    text-align:end;    
}



@media screen and (max-width:640px) {
    .h1-heading{
        font-size: 1.5rem;
        line-height: 1.8rem;
    }
}


.paragraph{
    font-size: 1.375;
    font-weight: 400;
    line-height: 2.5rem;
    // text-align: center;
}
.small-paragraph{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2rem;
}
@media screen and (max-width:640px) {
    .paragraph{
        font-size: 1rem;
        line-height: 1.375rem;
    }
    .small-paragraph{
        font-size: 0.875rem;
        line-height: 1.05rem;        
    }
}

.common-links{
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: 0.063rem;
}
@media screen and (max-width:640px) {
    .common-links{
        font-size: 1rem;
        line-height: 1.2rem;        
    }
}


.filter-titles,.filter-subtitle{
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 2.5rem;
}
.filter-subtitle{
    font-weight: 400;
    font-size: 1.125rem;
}
@media screen and (max-width:640px) {
    .filter-titles,.filter-subtitle{
        font-size: 0.875rem;
        line-height: 1.05rem;        
    }
}

.customizable-titles,.customizable-subtitles{
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.35rem;
}
.customizable-subtitles{
    font-weight: 400;
}


@media screen and (max-width:640px) {
    .customizable-titles,.customizable-subtitles{
        font-size: 1.125rem;
        font-weight: 700;
        line-height: 1.35rem;
    }
}
